.options-panel {
	position: relative;
  width: 20%;
  padding: 10px 10px 0;
  background-color: #f9f9f9;
  overflow: scroll;
  label {
    display: inline-block;
    margin-bottom: 5px;
  }
  input {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
		&:last-of-type{
			margin-bottom: 30px;
		}

    &::placeholder {
      font-size: 12px;
    }
    &:focus {
      border-color: #007bff; /* Цвет границы при фокусе */
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Эффект тени при фокусе */
    }
  }
}

.options-buttons{
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
}