$background-color: #f4f4f9;
$nav-background: #1e2732;
$nav-hover: #00aaff;
$button-background: #2b3847;
$button-hover: $nav-hover;
$button-color: white;
$box-shadow: rgba(0, 0, 0, 0.1);
$white: #ffffff;
$input-border: #ccc;
$form-padding: 15px;
$settings-background: #f7f8fa;